src/chrome/android/profiles/afdo.prof
src/chrome/build/pgo_profiles/
src/gn/
src/third_party/llvm-build/
src/third_party/android_toolchain/
src/out/
.vscode/
*.pyc
*.vsidx
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/CMakeWorkspaceSettings.json
/.vs/naiveproxy/v17/.wsuo
/.vs/naiveproxy/v17/Browse.VC.db
/.vs/naiveproxy/v17/Browse.VC.db-shm
/.vs/naiveproxy/v17/Browse.VC.db-wal
/.vs/naiveproxy/v17/Browse.VC.opendb
/.vs/naiveproxy/v17/workspaceFileList.bin
/.vs/naiveproxy/v17/ipch/AutoPCH
/.gitignore
